{% extends 'base.html' %}
{% load humanize %}

{% block title %}{{ user.first_name }}{% endblock %}

{% block head %}
<link href="{{ STATIC_URL }}css/avatar.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/avatar.js"></script>
{% endblock head %}

{% block main %}
<div class="row">
  <div class="col-md-2">
    <div class="avatar" id="avatar">
      <form action="#" enctype="multipart/form-data" method="POST">
      <div id="preview">
        <img src="{{ user.profile.get_picture }}" id="avatar-image" class="avatar_img">
      </div>
      <div class="avatar_upload" >
        <label class="upload_label">Upload
          <input type="file" id="upload">
        </label>
      </div>
      </form>
    </div>
<script>

var upload = document.getElementById("upload");
var preview = document.getElementById("preview");
var avatar = document.getElementById("avatar");


/** Handle uploading of files */
upload.addEventListener("change", handleFiles, false);
function handleFiles() {
  var files = this.files;
  for (var i = 0; i < files.length; i++) {
    var file = files[i];
    var imageType = /^image\//;

    if (!imageType.test(file.type)) {
      avatar.classList.add("avatar--upload-error");
      setTimeout(function(){
        avatar.classList.remove("avatar--upload-error");
      },1200);
      continue;
    }

    avatar.classList.remove("avatar--upload-error");


    while(preview.firstChild) {
      preview.removeChild(preview.firstChild);
    }

    var img = document.createElement("img");
    img.file = file;
    img.src = window.URL.createObjectURL(file);
    img.className ="avatar_img";
    img.onload = function() {
      window.URL.revokeObjectURL(this.src);
    }
    preview.appendChild(img);


    /* Clear focus and any text editing mode */
    document.activeElement.blur();
    window.getSelection().removeAllRanges();
  }
}
</script>
</div>
      <div class="col-md-8">
          <div><h1>{{ user.first_name }}</h1></div>
          <a href="{% url 'password' %}">变更密码</a>
      </div>
        <div class="col-md-2">
        </div>

</div>


  <div class="row">
      <div class="col-md-offset-2 col-md-8">
      <hr>
      <p>用户活动</p>
          {% for activity in user.profile.get_activity %}
            <h3><a class="question-link" href="{% url 'question' activity.2 %}">{{ activity.1|safe }}</a></h3>
            <span class="date">{{ activity.0|naturaltime }}</span>
          {% endfor %}
      </div>
    </div>
{% endblock main %}

