beautifulsoup4==4.6.0
bleach==2.0.0
certifi==2017.4.17
chardet==3.0.4
Django==1.11.3
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-htmlmin==0.10.0
django-mptt==0.8.7
djangorestframework==3.6.3
fake-factory==9999.9.9
html5lib==0.999999999
idna==2.5
Markdown==2.6.8
Misago==0.9.0
olefile==0.44
path.py==10.3.1
Pillow==4.1.1
psycopg2==2.7.1
pytz==2017.2
requests==2.18.1
six==1.10.0
sqlparse==0.2.3
Unidecode==0.4.21
urllib3==1.21.1
webencodings==0.5.1
