{% extends 'base.html' %}

{% block head %}
  <script src="{{ STATIC_URL }}js/questions.js"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'questions' %}">问题</a></li>
    <li class="active">草稿</li>
  </ol>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>标题</th>
        <th>内容</th>
        <th>标签</th>
      </tr>
    </thead>
    <tbody>
      {% for question in drafts %}
        <tr>
          <td><a href="{% url 'edit_question' question.pk %}">{{ question.title }}</a></td>
          <td>{{ question.get_summary_as_markdown|safe }}</td>
          <td>
            {% for tag in question.get_tags %}
              <span class="label label-default square-label">{{ tag }}</span>
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" style="text-align: center">
            没有草稿
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
